// ==============================
// 启动程序
// ==============================
// 壁纸
spawn-at-startup "awww-daemon"  // 状态栏
// 总览界面背景壁纸的守护进程
spawn-at-startup "awww-daemon" "-n" "overview"
// 随机更换一张壁纸
spawn-sh-at-startup "sleep 1 &&  waypaper --random"
// 恢复壁纸
//spawn-at-startup "waypaper" "--restore"
// 询问管理员权限功能（身份验证）
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// 屏幕分享、录屏相关的环境设置,如果屏幕分享出异常的话可以开启
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri & /usr/lib/xdg-desktop-portal-gnome"
// GNOME tracker修复
spawn-sh-at-startup "systemctl --user set-environment XDG_SESSION_CLASS=user"
// 通知程序
spawn-at-startup "mako"
// 任务栏
spawn-at-startup "waybar"
// 输入法
spawn-at-startup "fcitx5" 
// 剪贴板守护进程
	//cliphist
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
	// wayland <--> x11 剪贴板同步 这个包是我自己推的clipsync-git
spawn-at-startup "systemctl" "--user" "start" "linuxqq-clipsync"
// 闲置时自动熄屏锁屏睡眠的脚本，说实话这东西毫无用处，super+alt+P可以熄屏休眠
// spawn-at-startup "~/.config/niri/scripts/swayidle.sh"
// 大写锁定键的osd显示
spawn-at-startup "swayosd-server"
// 自动开启护眼模式,经纬度设置位置
//spawn-at-startup "~/.local/bin/toggle-wlsunset"
// 截图音效的守护进程
spawn-at-startup "~/.config/niri/scripts/screenshot-sound.sh"
// alt+tab切换器（这是一个第三方，无缩略图显示的切换器）
//spawn-at-startup "niriswitcher"
// niri-siderbar
spawn-at-startup "~/usr/bin/niri-sidebar" "listen"
// 允许root通过用户的xwayland打开窗口
spawn-at-startup "xhost" "+si:localuser:root"
// 音频调整程序，easyeffects，-w可以在后台启动
//spawn-at-startup "flatpak" "run" "com.github.wwmm.easyeffects" "-w"

// 取消启动niri时自动开启快捷键教程
hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
     skip-at-startup
}

// 隐藏窗口标题栏
prefer-no-csd
