// ==============================
// 快捷键  repeat为true表示可以连续触发
// ==============================
binds {
    // 显示快捷键帮助
    Mod+Shift+Slash { show-hotkey-overlay; }
    // 切换overview总览
    Mod+O hotkey-overlay-title="切换总览界面 toggle overview" repeat=false { toggle-overview; }

    // 关闭聚焦窗口
    Mod+Q hotkey-overlay-title="关闭聚焦窗口 close foucs window" repeat=false { close-window; }

    // 结合鼠标中键关闭窗口
    Mod+MouseMiddle { close-window; }

    // 切换聚焦
    Mod+H hotkey-overlay-title="切换窗口聚焦 vim模式" { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    // 移动column
    Mod+Ctrl+H hotkey-overlay-title="移动column vim模式" { move-column-left; }
    Mod+Ctrl+L { move-column-right; }

    // 移动窗口
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }

    // 移动窗口（不是移动colume，是允许移动到另一个colume的窗口移动）
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // 调整窗口宽度
    Mod+Minus hotkey-overlay-title="缩小窗口宽度" { set-column-width "-5%"; }
    Mod+Equal hotkey-overlay-title="增大窗口宽度" { set-column-width "+5%"; }
    // 调整窗口高度
    Mod+Shift+Minus hotkey-overlay-title="缩小窗口高度" { set-window-height "-5%"; }
    Mod+Shift+Equal hotkey-overlay-title="增大窗口高度" { set-window-height "+5%"; }

    // 按照预设切换窗口宽度
    Mod+R hotkey-overlay-title="按预设切换宽度 Switch width " { switch-preset-column-width; }

    // 按照预设切换窗口高度
    Mod+Shift+R hotkey-overlay-title="按预设切换高度 Switch height"  { switch-preset-window-height; }

    // 重置窗口高度
    Mod+Ctrl+R hotkey-overlay-title="重置窗口高度" { reset-window-height; }

    // 最大化窗口
    Mod+F hotkey-overlay-title="最大化 maximize" { maximize-column; }
    Mod+Alt+F hotkey-overlay-title="全屏 fullscreen"  { fullscreen-window; }
    // 增加窗口宽度占满空闲空间
    Mod+Ctrl+F { expand-column-to-available-width; }

    // 居中当前聚焦的colume
    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // 将窗口合并或者移出当前的column
    Mod+Comma hotkey-overlay-title="将当前窗口加入或移出column" { consume-window-into-column; }
    Mod+Period hotkey-overlay-title="将当前窗口加入或移出column" { expel-window-from-column; }

    // 开启column的标签页模式，同一个column中的窗口以类似浏览器标签页的形式堆叠
    Mod+X repeat=false hotkey-overlay-title="以标签页形式堆叠同一个column下的窗口" {  toggle-column-tabbed-display; }

    // 切换显示器焦点
    Mod+Shift+H hotkey-overlay-title="切换显示器聚焦 vim模式" { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    // 跨显示器移动column
    Mod+Shift+Ctrl+H hotkey-overlay-title="跨显示器移动column vim模式" { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    // 跨显示器移动工作区
    Mod+Shift+Alt+H hotkey-overlay-title="跨显示器移动工作区 vim模式" { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+J { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+K { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+L { move-workspace-to-monitor-right; }

    // 上下切换工作区
    Mod+U hotkey-overlay-title="上下切换工作区" { focus-workspace-down; }
    Mod+D hotkey-overlay-title="上下切换工作区" { focus-workspace-down; }

    // 移动column至工作区
    Mod+Ctrl+U hotkey-overlay-title="上下移动column到工作区" { move-column-to-workspace-up; }
    Mod+Ctrl+D hotkey-overlay-title="上下移动column到工作区" { move-column-to-workspace-down; }

    // mod+数字切换工作区
    Mod+1 hotkey-overlay-title="数字切换工作区 1-9" { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // 切换浮动模式
    Mod+V   hotkey-overlay-title="切换浮动 Toggle floating"    { toggle-window-floating; }
    // 在浮动模式和非浮动模式之间切换聚焦
    Mod+Shift+V hotkey-overlay-title="切换浮动聚焦 Change focus to floating" repeat=false { switch-focus-between-floating-and-tiling; }

    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+Ctrl+Q hotkey-overlay-title=null { spawn "wlogout"; } 
    Mod+Shift+E hotkey-overlay-title="退出niri Quit niri" { quit; }

    // moving the mouse or pressing any other key.
    Mod+Alt+P  hotkey-overlay-title="休眠 Turn off monitors" { spawn-sh "niri msg action power-off-monitors && hyprlock -c ~/.config/niri/hyprlock.conf && systemctl suspend"; }

}
