// 输入设备配置
include "input.kdl"

// 快捷键
include "bind.kdl"

// 显示器配置
include "output.kdl"

// 布局配置
include "layout.kdl"

// 启动程序
include "spawn.kdl"

// 动画
include "animation.kdl"

// 窗口规则
include "rule.kdl"


// ==============================
// 截图路径
// ==============================
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

