// ==============================
// 显示器配置
// ==============================
// 使用 niri msg outputs 查看名称

output "HDMI-A-1" {
    // mode 分辨率+刷新率
    // mode "1920x1080@120"

    // 缩放（HiDPI 很重要）
    scale 1

    // 屏幕方向
    transform "normal"

    // 多屏位置
    position x=1280 y=0
}
